@import url('https://fonts.googleapis.com/css?family=Roboto');
:root{
    --light: #ffffff;
    --dark: #000000;
    --loveclr: #F42213;
    --toplightgrey: #efefef;
    --semilight: #dfe1e5;
    --grey: #afafaf;
    --darkgrey: #333333;
    --light-semilight: #C9F1FF;
    --girlclr: #FF81D6;
    --babyclr: #FFE3EB;
    --royal: #3C48FF;
    --queenclr:#60091d;
    --kingclr:#11322c;
    --princess:#180105;
    --links: #3FCCFF;
    --blueish-grey:#d0eef7;
    --blue:#4767f5;
    --light-grey: #e1e4e6;
    --font-heading: 'Roboto', helvetica, arial, sans-serif;
    --font-content: 'Roboto', helvetica, arial, sans-serif; 
    --spacing: 1em;
}
*{
    margin: 0;
    padding: 0;
}
body{
overflow: hidden;
background-color: var(--light);
position: relative;
background-repeat: no-repeat;
background-size: cover;
color: var(--dark);
max-width: 100%;
margin: 0;
padding: 0;
}
/* li{
    list-style: none;
    text-align: left;
} */
a {color:var(--darkgrey) ;
}
.main-navbar{display: none;}
.topbar{
border-bottom: var(--semilight);
text-align:left;
background-color: var(--darkgrey);
width: 100%;
margin: 0;
padding: 0;}
.topbar a{
    color: var(--light);
}
.topbar li{
    border-bottom: 0.2em solid;
    padding-left: 0.5em;
    padding-right: 1em;
    list-style: none !important;
    width: 100%;
    margin-left: 0.5em;
    margin-bottom: 0.4em;
    text-align: left;
}
.ws-logo-pic{
    width:100%;
    text-align: center;
    min-height:0.3;
    padding-top: 0.2em;
    }
.ws-logo-pic img 
{
    width: 5em;
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.srch-icon{
    text-align: right;
    color: var(--darkgrey);
    padding-left: 1em;
}
.srch-bar{
border-radius: 0.2em;
color: var(--darkgrey);
/*padding-left: 1em;
margin-right: 1em;*/
}
.srch-bar input{
width: 90%;
border: var(--darkgrey) solid;
border-radius: 0.3em;
padding: 0.2em;
margin-top: 0.2em;
}
.icon-n-bar
{
    display:grid;
    grid-template-columns: 1fr 5fr;
    padding:0 0 0.6rem 0;
    place-self: center;
    width: 99%;
    justify-content: start;
    align-items: center;
}
.srch-icon{
    place-self: center;
    justify-self: center;
    padding-top: 0.4em;
}
.button{
    background-color: var(--darkgrey);
    color: var(--light);
    display: inline-block;  
    border: 0em solid #555555;
    border-radius: 0.5em;
    text-decoration: none;
    padding:0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}
.liIconMenu{width: 2em;}
/* 
.button span{
    color: var(--light);

.button:hover{
} */
.button:focus{
background-color:var(--light);
color: var(--darkgrey);
margin-top: 0.3em;
}
.big-box-border{
    width: 95%;
    border: var(--grey)solid 0.01em;
    box-shadow:0em 0.2em 0.1em #616669;
    padding:0.5em;
    margin: 0.5em;
}
.topbar-of-quickfind{
    background-color: var(--light-grey);
    color: var(--darkgrey);
    margin: -0.5em;
    padding: 0.1px 1em;
}
.topbar-of-quickfind h3{
text-align: center;
padding:0.5em;
}
.type{
    display: grid;
    grid-template-columns:30% 1% 65%;
    border-bottom: var(--grey)solid 0.01em;
    padding-bottom: 0.5em;
    padding-top: 1em;
    margin-bottom: 0em;
    width:100%
}
.category{
    display: grid;
    grid-template-columns:30% 1% 65%;
    width:100%;
    margin-top: 0em;
    padding-bottom: 0.5em;
    padding-top: 0.6em;
    background-color: var(--light);
    border-top: var(--grey)solid 0.01em;
}
.search{ 
text-align: center!important;
}
.paging{
    width: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 1em;
    text-align: center;
}
.Page{

    justify-content: center!important;
    justify-content: space-around;   
}
.activPage{font-weight: bold; background-color: black; color: white;}
.grid-subscribe
{
    justify-self: center;
    align-self: center;
    width: 95%;
    background-color: var(--grey);
    padding-top: 0.5em;
    margin: 0.5em;
}
.grid-subscribe ul
{
    display: grid;
    grid-template-columns:7% 1fr 1fr 1fr;
    width: 100%;
    justify-self: center;
    align-self: center;
}
.grid-subscribe ul li
{
    padding-left:0.5em;
}
.txtSubscribe
{
    width: 100%;
    border: var(--darkgrey) solid;
    border-radius: 0.3em;
    padding: 0.1em;
    margin-top:0.1em;
 }
 .images 
 {
    text-align: center;
}
.div-blocks{
    width: 95%;
    margin-bottom: 0.5em;
    text-align: center;
    max-height: 7em;
}
.div-blocks img{max-height: 6em;}
.ulColors{
    margin-left: 4em;
}
.rating{margin-left: 4em;}
.product
{
    text-align: center;margin-bottom: 1em;
    border: var(--grey)solid 0em;
    box-shadow: 0em 0.2em 0.2em #616669;
    padding-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-bottom: 0.5em;
}
.product h3{font-weight: bold;}
.product legend{font-weight: bold;}
/*
legend ol, ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
legend ul, ol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
*/
.productDetails{display: none;}
del{
    opacity: 0.5;;
}
.mainFooter{display: grid;
grid-template-columns: 1fr 1fr;
margin: 1em;
}

.mainFooter ul{padding: 0.7em;}

.mainFooter a{text-decoration: none;}
.sociallinks
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 1em;
}
.copyright{margin: 0em 1em 1em 1em; text-align: center;
}
@media screen and (min-width: 40em)
 {
     /*For Tablet 640px*/
    
    }
@media screen and (min-width: 55em)
{
    /*For window screen 880px*/
body{
    position: relative;
}
}